@import "../Variables.scss";

.texts-menu {
  -webkit-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.3);

  button {
    background-color: $color-interactive;
    border: 0;
    color: white;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    font-weight: 700;

    &:hover {
      background-color: $color-interactive-hover;
    }
  }

  h2 {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem 0 1rem 30px;
    text-align: left;
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-interactive;
    }

    > svg {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  ul {
    margin: -1rem 0 1rem 0;
    padding: 0 0 1.5rem 0;

    li {
      list-style: none;
      break-inside: avoid-column;
      display: block;
      margin: 0;
    }

    a {
      padding: 0.75rem;
      color: $color-text;
      display: grid;
      grid-template-columns: 40% calc(60% - 0.6em);
      gap: 0.6em;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;

      &:hover,
      &:active {
        background-color: $color-interactive-light;
        background-color: lighten($color-interactive-light, 7%);

        span {
          color: $color-interactive;
        }
      }

      span:nth-child(1) {
        text-align: right;
        font-weight: bold;
      }

      &.noquorum span {
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .texts-menu ul {
    columns: 2;

    a {
      padding: 0.5rem;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .texts-menu ul {
    columns: 3;
  }
}
