@import '../Variables.scss';

.page-point {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.page-link {
  text-align: center;
  line-height: 1;
  text-decoration: none;
  color: $color-interactive;
  background-color: $color-background;
}

.page-number {
  @extend %type-sansserif;
  font-size: 16px;
  font-weight: 700;
  width: 20px;
  text-transform: uppercase;

  .label {
    display: block;
    font-size: 0.7em;
  }
}