@import './Variables.scss';

.App > footer {
  height: calc(40px - 0.5rem);
  padding: 0.5rem 2.5% 0 2.5%;
  color: $color-text-invert;
  background-color: $color-footer-background;
  text-align: center;
  box-shadow: -1px 70px 20px -70px rgba(0,0,0,0.25) inset;
  -webkit-box-shadow: -1px 70px 20px -70px rgba(0,0,0,0.25) inset;
  -moz-box-shadow: -1px 70px 20px -70px rgba(0,0,0,0.25) inset;

  * {
    color: darken(white, 18%);
  }

  a {
    font-size: 0.8em;
    text-decoration: none;
    padding: 0 12px;

    &:hover,
    &:active {
      color: white;
      text-decoration: underline;
    }

    + a {
      margin-top: 5px;
    }
  }
}
