/* Color */
$color-text: #3e3e3d;
$color-text-light: lighten($color-text, 25%);
$color-text-invert: white;
$color-background: #f0f0eb;
$color-border: silver;
$color-interactive: #3366CC;
$color-interactive-hover: darken($color-interactive, 10%);
$color-interactive-light: lighten($color-interactive, 35%);
$color-footer-background: lighten($color-text, 20%);;


/* Typography */
$open-leading: 1.7;

%type-sansserif {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

%intro-copy {
  line-height: $open-leading;
  max-width: min(95%, 600px);
  margin: 0 auto 2rem auto;
}