:root {
  /*
  --header-color: #192231; 
  --accent-color: #985E6D;
  --light-color: #eee;
  --controlsColor: #666;

  --header-color: #08302F; 
  --accent-color: #B5E582;
  --light-color: #eee;
  --controlsColor: #666;
    */

    --header-color: #222629; 
  --accent-color: #86C232;
  --accent-color-30: rgba(134,194,50,0.5);
  --text-accent-color: #61892F;
  --mid-dark-color: #474B4F; 
  --low-dark-color: #6B6E70;
  --light-color: #eee;
  --controlsColor: #666;
}